.flexContainer {
    background-color: #4642424f; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: .2em;

  }

  .flexItem1 {
    flex: 1;
    margin: 1em .5em;
  }
  .flexItem2 {
    flex: 3;
    margin: 0em .5em;
  }